* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #f5f5f5;
  overflow-x: hidden;
}

#root {
  background-color: #1a1a1a;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #1a1a1a;
}
